/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-inline-size: 375px;
  margin: auto;
  font-family: var(--main-font, sans-serif);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  font-variation-settings: "wght" 400;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  inline-size: 100%;
  min-block-size: 327px;
  padding-block-start: 120px;
  margin-block-start: 100px;
  margin-block-end: 102px;
  background-color: var(--bg-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 49px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 14px;
  text-transform: uppercase;
  padding-block-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-block-start: 25px;
  padding-inline-start: 15px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  opacity: 0.6;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.content__card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.content__card_title {
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--fw-card-title);
  inline-size: 95%;
  font-size: 18px;
  line-height: 22px;
  padding-inline-start: 10px;
  padding-block-start: 4px;
  padding-block-end: 6px;
}

.content__card_img-container {
  position: relative;
}

.content__card_img {
  inline-size: 100%;
  border: 2px solid var(--accent-color);
}

.content__card_img-label {
  font-family: var(--accent-font, sans-serif);
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 10px;
  mix-blend-mode: hard-light;
  text-shadow: 1px var(--label-shadow);
}

@supports(-webkit-text-stroke: 1px var(--label-shadow)) {
  p {
      -webkit-text-stroke: 1px var(--label-shadow);
      text-shadow: none;
  }
}

.content__card_description-container {
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--fw-card-description);
  display: flex;
  flex-direction: column;
  gap: 27px;
  inline-size: 85%;
  padding-block-start: 20px;
  margin: auto;
}

.content__card_description {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 117%;
}

.content__card_button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
  padding-block-start: 25px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__heart-button {
  inline-size: 42px;
  block-size: 38px;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 0 4px 0 0;
  background-color: transparent;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.card__heart-button:focus {
  outline: none;
}

.card__heart-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.sparks {
  fill: transparent;
}

.like-icon:hover .core {
  fill: var(--heart-icon-contour);
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-icon-contour);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: var(--heart-bg);
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-bg);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--heart-bg);
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-bg);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-bg);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  fill: var(--heart-bg);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.card__like-button {
  font-family: var(--accent-font);
  color: var(--font-color);
  border: 2px solid var(--accent-color);
  background-color: transparent;
  inline-size: 130px;
  block-size: 38px;
  cursor: pointer;
}

.button-animation {
  position: relative;
  overflow: hidden;
}

.button-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button-animation:hover::before {
  transform: translateX(0);
}

.button-animation:focus {
  outline: none;
}

.button-animation:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.button__text {
  color: var(--mix-blend-color);
  mix-blend-mode: difference;
}

.floppy_img {
  inline-size: 28px;
  block-size: 28px;
  color: var(--mix-blend-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  padding-block-start: 52px;
  padding-block-end: 100px;
}

.footer__button-save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  inline-size: 306px;
  min-block-size: 84px;
  font-size: 14px;
  line-height: 90%;
  cursor: pointer;
}


.button-ok {
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  background: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.popup {
  font-family: var(--accent-font);
  font-size: 14px;
  padding: 30px 26px;
  color: var(--font-color);
  background: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.popup__button {
  cursor: pointer;
}

.popup::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.popup:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.popup__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.popup__text {
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  width: 100%;
}

.popup__text-container {
  display: flex;
  gap: 22px;
  align-items: center;
}

@media (width <= 375px) {
  .popup__container {
    gap: 28px;
  }

  .popup__text {
    width: 80%;
  }

  .popup {
    padding: 32px 38px;
  }
}

.popup .floppy_img {
  width: 39px;
  height: 39px;
  color: var(--accent-color);
  mix-blend-mode: normal;
}

/* .popup__button_text {
  border: 2px solid var(--accent-color);
} */
